body{
  margin: 0 auto;
  padding: 150px;
  width: 25%;
  background: #fbfbfa;
}

input[type="text"]{
  color: #545454;
  height: 60px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
}
